<launch>
    <node pkg='turtlesim' type='turtlesim_node' name='main_turtle' output = "screen" />
    <node pkg='turtlesim' type='turtle_teleop_key' name='splinter' output='screen' />
    <node pkg='rosservice' type='rosservice' name='spawn' args='call /spawn 0.0 0.0 0.0 leo' />
    <node pkg='hw' name='follower' output='screen' type='turtle.py' />
</launch>
